html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
  
main {
    overflow: hidden;
}
  
section {
    position: relative;
    width: 100%;
}
.about-us section {
    overflow: hidden;
}
  
body {
    color: #fff;
    font-family: 'Sora', sans-serif;
    background: #03031C;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
ul {
    list-style: none;
}
  
a,
a:hover {
    text-decoration: none;
}
  
a:hover {
    color: inherit;
}

h1, h2, h3 ,h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Cinzel', serif;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
    font-weight: 200;
    line-height: 24px;
}

.wrapper {
    height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1440px;
}

.position-relative {
    position: relative;
}

header {
    position: relative;
    z-index: 100;
}

.logo-area img {
    max-width: 123px;
}

.nav-items {
    display: flex;
    gap: 50px;
}
.nav-items li {
    position: relative;
    display: flex;
    align-items: center;
}
.nav-items li a {
    color: #FFF;
}
.nav-items li a.start, .primary-btn {
    color: #00FFFF;
    border: 1px solid #00FFFF;
    min-width: 117px;
    height: 52px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 1.14rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 23px;
}
.nav-items li a.start:hover, .primary-btn:hover {
    background:  linear-gradient(180deg, #00FFFF 0%, rgb(255 255 255 / 75%) 100%);
    color: #fff;
}
.nav-items li ul.sub-menu {
    position: absolute;
    padding: 10px 0;
    background: #03031c;
    border: 1px solid #0ff;
    width: 181px;
    top: 100%;
    border-radius: 7px;
    display: none;
}
.nav-items li:hover > ul.sub-menu {
    display: block;
}
.nav-items li ul.sub-menu a {
    padding: 0 10px 10px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #0ff;
    margin-bottom: 10px;
}
.nav-items li ul.sub-menu li:last-child a {
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0;
}
.b-heading {
    font-size: 4.28rem;
}
.primary-color, a.primary-color {
    color: #00FFFF;
}
.power {
    background-image: url('../images/tr-chart.svg');
    background-position: right;
    background-repeat: no-repeat;
}
.power p {
    font-size: 1.28rem;
}
.power-txt {
    max-width: 46%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.power a {
    text-transform: uppercase;
    line-height: 18px;
    font-size: 1rem;
}
.graph-img {
    position: absolute;
    right: 0;
    top: 87px;
}
.who {
    padding: 15rem 0 8rem;
}
.primary-heading {
    font-size: 3.71rem;
}
.who .primary-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    position: relative;
    z-index: 10;
}
.who .primary-heading img {
    width: 300px;
    filter: brightness(0) saturate(100%) invert(83%) sepia(76%) saturate(2841%) hue-rotate(101deg) brightness(100%) contrast(102%);
}
.human-img {
    margin-top: -255px;
    margin-left: 111px;
}
.who ul {
    color: #0ff;
    line-height: 24px;
    list-style: disc;
    padding-left: 18px;
    font-weight: 600;
}
.profit p {
    width: 63%;
}
.slider-arrow .prev img {
    transform: rotate(180deg);
} 
.risk h4 {
    color: #00FFFF;
}
.video {
    background: url('../images/shape.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 13rem;
}
.video p {
    width: 40%;
}
.video iframe {
    width: 100%;
}
.awards {
    background: #03031C;
    border: 1px solid #E4BC37;
    border-radius: 20px;
    margin-bottom: -35px;
}
.awards h1.primary-heading {
    background: -webkit-linear-gradient(#E4BC37, #8A6D3C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer {
    background: linear-gradient(180deg, rgba(0, 255, 255, 0.2) 0%, rgba(0, 255, 255, 0) 100%);
    padding: 8rem 0;
}
a.in {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 100%;
}
a.in img {
    margin-top: -2px;
}
.footer-link ul li {
    margin-bottom: 20px;
}
.footer-link ul li:last-child, .footer-address ul li:last-child {
    margin-bottom: 0;
}
.footer-link ul a {
    color: #fff;
}
.footer-address ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.f-16 {
    font-size: 1.42rem;
}
.f-18 {
    font-size: 1.28rem;
}
.primary-heading.f-60 {
    font-size: 4.28rem;
}
.timeline {
    display: flex;
    align-items: self-start;
    gap: 30px;
    max-height: 100px;
}
.time-date {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: -12px;
}
.timeline h2 {
    font-size: 2.85rem;
    color: #00FFFF;
}
.time-line-txt {
    flex: 0 34%;
    margin-top:-5px
}
.time-line-txt h4, .main-heading {
    font-size: 1.71rem;
    color: #00FFFF;
}
.timeline.justify-content-start img.line {
    transform: rotate(180deg);
}
.contact {
    background: url(../images/line-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    padding-top: 32rem !important;
}
.contact ul {
    font-weight: 200;
    list-style: disc;
    padding-left: 20px;
    line-height: 24px;
}
.contact ul li {
    margin-bottom: 10px;
}
.step {
    background: url(../images/line-bg2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
    padding-top: 28rem !important;
}
.step img.mx-auto {
    margin-top: -123px;
}
.step-list ul {
    font-weight: 200;
    margin: 0;
}
.step-list ul li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
.step-list ul li:before {
    content: '';
    width: 8px;
    height: 4px;
    background: #00FFFF;
}
.tr-btn {
    position: absolute;
    right: 0;
    left: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 98px;
}
.cost {
    background: url(../images/line-bg3.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
    padding-top: 21rem !important;
}
.mb-show {
    display: none;
}
.mb-hide {
    display: block;
}
.mobile-menu {
    display: none;
}
@media (max-width: 1250px) {
    html {
        font-size: 13px;
    }
    .power-txt {
        max-width: 55%;
    }
    .graph-img {
        top: 96px;
    }
    .human-img {
        margin-top: -168px;
        margin-left: 0;
    }
    .timeline {
        max-height: unset;
        margin-bottom: 31px;
    }
}
@media (max-width: 1000px) {
    .graph-img {
        top: 112px;
        width: 68%;
    }
    .power-txt {
        max-width: 67%;
    }
    .profit p {
        width: 100%;
    }
}
@media (max-width: 820px) {
    html {
        font-size: 12px;
    }
    p {
        font-size: 1.5rem;
    }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        line-height: 1;
    }
    .human-img {
        margin-top: 0;
        margin-left: 0;
    }
    .nav-menu {
        display: none;
    }
    .mobile-menu {
        display: flex;
        gap: 30px;
        align-items: flex-start;
    }
    .menu-icon {
        margin-top: 5px;
    }
    .menu-area {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #03031C;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 7rem 0;
    }
    .menu-area a img.logo {
        width: 200px;
    }
    .menu-area ul {
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
    }
    .menu-area ul li {
        margin-bottom: 25px;
    }
    .menu-area ul li:last-child {
        margin-bottom: 0;
    }
    .menu-area ul li a {
        color:#00FFFF;
    }
    .menu-area ul li ul.sub-menu {
        font-size: 12px;
        margin-top: 10px;
    }
    .menu-area ul li ul.sub-menu li {
        margin-bottom: 10px;
    }
    .menu-area ul li ul.sub-menu li a {
        color: #fff;
    }
    .menu-area ul li ul.sub-menu li:last-child {
        margin-bottom: 0;
    }
    .menu-area .primary-btn {
        font-size: 18px;
        padding: 0 35px;
    }
    a.cross {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}
@media (max-width: 768px) {
    section {
        text-align: center;
    }
    .power .container {
        padding: 0;
    }
    .power-txt {
        max-width: 100%;
        text-align: center;
        margin-bottom: 27px;
        padding: 0 15px;
    }
    .graph-img {
        position: unset;
        width: 100%;
        margin-top: -36px;
        margin-bottom: -68px;
    }
    .power a strong {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .power {
        background-position: left bottom 231px;
    }
    .who .row, .risk .row {
        flex-direction: column-reverse;
    }
    .who ul {
        margin: 0 auto;
        text-align: left;
    }
    .who .primary-btn {
        margin: 0 auto;
    }
    .who {
        padding: 0;
    }
    .human-img {
        margin-top: -100px;
    }
    .who .primary-heading {
        flex-direction: column;
    }
    .who .primary-heading span {
        font-size: 5rem;
    }
    .profit p {
        width: 100%;
    }
    .slider-arrow {
        justify-content: center;
        margin-bottom: 32px;
        margin-top: 25px !important;
    }
    .profit .container {
        padding: 0;
    }
    img.bg-img {
        width: 150%;
        max-width: 150%;
    }
    .slick-initialized .slick-slide {
        overflow: hidden;
    }
    .sl-2 {
        direction: rtl;
    }
    .profit p {
        padding: 0 10px;
    }
    .video {
        padding-top: 6rem;
    }
    .video p {
        width: 100%;
    }
    .awards-area {
        padding: 0 15px;
    }
    footer {
        text-align: center;
        padding: 8rem 0 0;
    }
    footer .col-md-4.d-flex {
        justify-content: center;
    }
    footer .row {
        gap: 40px;
    }
    .footer-address img {
        display: none;
    }
    .footer-address ul li {
        margin-bottom: 0;
        justify-content: center;
    }
    .footer-address ul li:last-child {
        margin-top: 4rem;
    }
    .mb-show {
        display: block;
    }
    .mb-hide {
        display: none;
    }
    .p-d-0 {
        padding: 0 !important;
    }
    .see a.primary-btn {
        width: 100%;
        font-size: 1.33rem;
    }
    .tr-btn {
        right: 0;
        left: 0;
        bottom: 64px;
    }
    .row.r-dir {
        flex-direction: column-reverse;
    }
    .step {
        padding-top: 17rem !important;
    }
    .step img.mx-auto {
        margin-top: 44px;
        width: calc(100% + 86px);
        margin-left: -28px !important;
        max-width: calc(100% + 76px);
    }
    img.lev {
        width: calc(100% + 152px);
        margin-left: -72px !important;
        max-width: calc(100% + 152px);
    }
    .cost {
        padding-top: 11rem !important;
    }
    .timeline {
        align-items: end;
        text-align: left;
        flex-direction: column;
    }
    .timeline:nth-child(2n) {
        align-items: flex-start;
        flex-direction: column-reverse;
    }
    .contact {
        background: url(../images/line-bg-mb.svg);
        background-size: 100%;
        padding-top: 13rem !important;
        background-repeat: no-repeat;
    }
}
@media (max-width: 550px) {
    .b-heading, .primary-heading, .primary-heading.f-60 {
        font-size: 2.416rem;
    }
    .power a {
        font-size: 1.28rem;
    }
}